<!DOCTYPE html>
<html ng-app='rulesApp'>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="libs/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="statics/css/app.css">

    <link rel="Shortcut Icon" href="statics/images/favicon.ico" />
    <script src="libs/components/jquery/dist/jquery.min.js"></script>
    <script src="libs/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--script src="libs/components/bootstrap/js/bootstrap.min.js"></script-->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular/angular-route.min.js"></script>

    <script src="controllers/main.js"></script>
  </head>
  <body ng-controller='mainController'>
    <header>
      <img class="logo" src="statics/images/logoud.png"  alt="Universidad Distrital"/>
      <h1 class="app_title">Angular Application</h1>
    </header>
    <nav class="navbar navbar-inverse" role="navigation" ng-controller="parserMenu" style="width:100%;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex6-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MEN&Uacute;</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex6-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-repeat="opcion in menu.opciones">
            <a class='dropdown-toggle' data-toggle='dropdown'>
              {{opcion.text}}<b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
              <li ng-repeat="op in opcion.subopciones">
                <a href="{{op.url}}" >
                  {{op.text}}
                </a>

              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div ng-view></div>
  </body>
</html>
